<h1 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px">Edit your Jar.</h1>

<%= form_for @jar do |f| %>

<div>
    <%= f.label :name, :style => "margin-left: 20px"  %>
    <%= f.text_field :name  %>
</div>

<br>
<%= f.radio_button(:publicview, true, :style => "margin-left: 20px")%>
<%= f.label(:publicview, "Set this jar as viewable by the public.")%>
<br>
<%= f.radio_button(:publicview, false, :style => "margin-left: 20px") %>
<%= f.label(:publicview, "Set this viewer as private (only viewable to the creator and users the creator sets as viewers or contributors).")%>
<br>
<br>
    <%= f.submit "Submit these changes!", :class => 'btn btn-success', :style => "margin-left: 20px;"%>
<br>
<hr>

<h1 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px">Add Contributors or Viewers.</h1>
<% end %>
<br>
<% if is_creator? %>
<%= link_to "Add a contributor to this jar.", new_contributor_path(@jar), :class => 'btn btn-info', :style => "margin-left: 20px;"  %>
<br>
<br>
<%end%>

<% if is_creator? %>
<%= link_to "Add a viewer to this jar.", new_viewer_path(@jar), :class => 'btn btn-info', :style => "margin-left: 20px;"  %>
<br>
<%end%>
