<h1><%= @jar.name %></h1>
<br>
<br>
<img src="/images/empty-jar-placeholder1.png" alt="empty jar placeholder" />

<br>

<% if logged_in? %>
<%= link_to "Add a contributor to this jar.", new_contributor_path(@jar) %>
<%end%>
<br>
<% if logged_in? %>
<%= link_to "Add a viewer to this jar.", new_viewer_path(@jar) %>
<%end%>
<br>
<% if logged_in? %>
<%= link_to "Put a new memory in this jar.", new_mem_path(@jar) %>
<%end%>
<br>

<% @jar.mems.each do |u| %>

<h5>Memory: <%= u.body %></h5>
<h7>Date: <%= u.date %></h7>

<%= image_tag u.photo.url(:thumb) unless u.photo_file_name == nil%>
<hr>

<% end %>
