<h1 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px">Edit your account.</h1>

<%= form_for @user do |f| %>

    <div>
        <%= f.label :name, :style => "margin-left: 20px;" %>
        <%= f.text_field :name, :style => "margin-left: 20px;" %>
    </div>
    <div>
        <%= f.label :email, :style => "margin-left: 20px;" %>
        <%= f.text_field :email, :style => "margin-left: 20px;" %>
    </div>
    <div>
        <%= f.label :username, :style => "margin-left: 20px;" %>
        <%= f.text_field :username, :style => "margin-left: 20px;" %>
    </div>
    <div>
        <%= f.label :password, :style => "margin-left: 20px;" %>
        <%= f.password_field :password, :style => "margin-left: 20px;" %>
    </div>

    <%= f.submit "Submit these changes!", :style => "margin-left: 20px;" %>

<% end %>
