<h2 style= "font-family: 'Gloria Hallelujah'"> <%= @user.name %> </h2>
<h4 style= "font-family: 'Gloria Hallelujah'"> <%= @user.username %> </h4>
<h4 style= "font-family: 'Gloria Hallelujah'"> <%= @user.email %> </h4>
<br>
<br>
<br>
<%= link_to "Edit Account and Settings.", edit_user_path(@user) %>
<br>
<%= link_to "Delete account.", user_path, method: :delete, data: { confirm: "Are you sure you want to delete your account and make the app very very sad?"} %>
