<h2 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px"> <%= @user.name %> </h2>
<h4 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px"> <%= @user.username %> </h4>
<h4 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px"> <%= @user.email %> </h4>
<br>
<br>
<br>
<%= link_to "Edit Account and Settings.", edit_user_path(@user), :style => "margin-left: 20px;", :class => 'btn btn-info' %>
<br>
<br>
<%= link_to "Delete account.", user_path, method: :delete, data: { confirm: "Are you sure you want to delete your account?"}, :style => "margin-left: 20px;", :class => 'btn btn-danger'%>
