<!DOCTYPE html>
<html>
<head>
  <title>JarApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/users/index">Users</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/jars/index">Jars<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Jars</a></li>
            <li><a href="/jars/new">New Jar</a></li>
            <li><a href="#">Other Jars</a></li>
            <li><a href="/jars/index">All Jars</a></li>
          </ul>
        </li>
        <li><a href="/mems/index">Mems</a></li>
        <li>  <% if logged_in? %>
                <%= link_to 'Profile', user_path(current_user) %>
              <% else %>
                <%= link_to "Sign Up", new_user_path %>
              <% end %>
        </li>
        <li>  <% if logged_in? %>
            <%= link_to 'Logout', logout_path %>
          <% else %>
            <%= link_to "Login", new_session_path %>
          <% end %></li>

      </ul>
    </nav>
    </div>
  </header>
<br>
<br>


  <% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>

  <% if flash[:failure] %>
  <div class="alert alert-danger"><%= flash[:failure] %></div>
  <% end %>

  <script>$('.alert').delay(2000).slideUp()</script>

<%= yield %>

</body>
</html>
